<!DOCTYPE html>
<html lang="en">

<head onload="">

  <title>{% block title %}{% endblock %}</title>
  <!--Discord Stuff-->
  <meta content="Kineticcat's Website" property="og:title" />
  <meta content="A place for me to store all my HTML projects!" property="og:description" />
  <meta content="https://embed.com/this-is-the-site-url" property="og:url" />
  <meta content="https://embed.com/embedimage.png" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  <!--Discord Stuff End-->
  <link rel="shortcut icon" href="static/favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="javascript" href="static/script.js">
  <link rel="stylesheet" href="static/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet"/>
  {% block head %}{% endblock %}
</head>
{% if dark == "False"%}

<body class="dark">
  {% endif %}
  {% if dark == "True"%}

<body class="light">
  {% endif %}
  <nav class="navbar dark">
    <ul class="navbar-nav">

      <li class="logo">
        <a href="#" class="nav-link">
          <span class="link-text logo-text">Kineticcat_</span>
          <img id="logoIcon" src="static/images/logoPink.png" alt="//\*" width="64" height="64">
        </a>
      </li>

      <li class="nav-item">
        <a href="/" class="nav-link">
          <span id="icon" class="material-icons-round">home</span>
          <span class="link-text">Home</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/what" class="nav-link">
          <span id="icon" class="material-icons-round">question_mark</span>
          <span class="link-text">What?</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/projects" class="nav-link">
          <span id="icon" class="material-icons-round">grid_view</span>
          <span class="link-text">Projects</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <span id="icon" class="material-icons-round">home</span>
          <span class="link-text">Shuttle</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="/login" class="nav-link">
          {% if loggedin == "True" %}
          <span id="icon" class="material-icons-round">logout</span>
          <span class="link-text">Logout</span>
          {% else %}
          <span id="icon" class="material-icons-round">login</span>
          <span class="link-text">Login</span>
          {% endif %}
        </a>
      </li>

    </ul>
  </nav>

  {% block Body %}{% endblock %}
  <!-- <footer class="bottom hcentre" >
    <div clas></div>
     testing testing 1 2 3
  </footer> -->
</body>

</html>