{% extends "base.html" %}
{% block title %}Cookie Descriptions{% endblock%}
{% block Body %}
<h1>Cookie Descriptions!</h1>
<p>Just a description of the cookies used for this website!</p>
<ul>
  <li>cf_clearance is proof that you have passed the cloudflare challenge.</li>
  <li>the cookies beginning with _ga are for google analytics</li>
  <li>userID stores your current username.</li>
  <li>Logged_In stores whether you're logged in or not(for the account/login switching!)</li>
  
</ul>
{% endblock %}