
<!DOCTYPE html>
<html lang="en">

<head>
	<meta content="Kineticcat's Website" property="og:title" />
	<meta content="A place for me to store all my HTML projects!" property="og:description" />
	<meta content="https://www.kineticcat.ml" property="og:url" />
	<meta content="../static/favicon.ico" property="og:image" />
	<meta content="#43B581" data-react-helmet="true" name="theme-color" />
	<!--Discord Stuff End-->
	<link rel="shortcut icon" href="../static/favicon.ico">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="javascript" href="../static/script.js">
	<link rel="stylesheet" href="../static/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>three.js</title>
</head>

<body>
	<a style="float: right;" id="cubehome" href="/" >home</a>
	<script src="../static/scene.js" type="module"></script>
</body>

</html>