{% extends "base.html" %}
{% block title %}IO circle{% endblock %}
{% block Body %}
<b>
<table class='iout'>
  <tr>
    <canvas id="iocircle" style="background:#23231e; border: 5px solid black;" height="999" width="999"></canvas>
  </tr>
  <tr>
    <table class='itimeout'>
      <tr>
        <td class='itime' id='d'>days</td>
        <td class='itime' id='h'>hours</td>
        <td class='itime' id='m'>minutes</td>
        <td class='itime' id='s'>seconds</td>
      </tr>
    </table>
  </tr>
</table>
</b>
<script>
  
  var out = document.getElementsByClassName('iout')[0]
  var canvas = document.getElementById("iocircle");
  var ctx = canvas.getContext("2d");
  
  window.onload = startup;
  function startup() {
    // debugger;
    if (window.outerWidth >= 700 && window.outerHeight >= 600) {
      out.width = 700 - 100;
      canvas.height = 600;
      canvas.width = out.width;
    } else {
      out.width = window.outerWidth - 100;
      canvas.height = window.outerHeight;
      canvas.width = out.width;
    }
      var loopID = setInterval(go, 1000);
  }
	
  function go(){
      // debugger;
      var month = 'jun';
			var targetDate = new Date('June 24, 2022, 00:00:00 UTC')
      const seg60 = [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150, 156, 162, 168, 174, 180, 186, 192, 198, 204, 210, 216, 222, 228, 234, 240, 246, 252, 258, 264, 270, 276, 282, 288, 294, 300, 306, 312, 318, 324, 330, 336, 342, 348, 354, 360]
      ctx.clearRect(0, 0, 1000, 1000);
      ctx.strokeStyle = "white";

      var centre = [
        canvas.width/2,
        canvas.height/2
      ]

			var daysto = Math.floor(((((targetDate - new Date())/1000)/60)/60)/24);
			var hoursto = Math.floor((((targetDate - new Date())/1000)/60)/60) - Math.floor(((((targetDate - new Date())/1000)/60)/60)/24) * 24;
			var minutesto = Math.floor(((targetDate - new Date())/1000)/60) - Math.floor((((targetDate - new Date())/1000)/60)/60) * 60;
			var secondsto = (Math.floor((targetDate - new Date())/1000) - Math.floor(((targetDate - new Date())/1000)/60) * 60);

      document.getElementById('d').innerHTML = daysto
      document.getElementById('h').innerHTML = hoursto
      document.getElementById('m').innerHTML = minutesto
      document.getElementById('s').innerHTML = secondsto


    // debugger;
    //seconds
      ctx.fillStyle = '#23232e';
      for (let index = 0; index < 60; index++) {
          if (index >= secondsto) {
            continue;
          }     
					// if (remove[secondsto].includes((60 / (60-secondsto)))*index) {
					// 	continue;
					// }
          let angle = ((index * 6) * (Math.PI / 180));
          ctx.beginPath();
          ctx.arc(Math.sin(angle)*110+centre[0], Math.cos(angle)*110+centre[1], 3, 0, 2 * Math.PI);
          ctx.fill();
          ctx.stroke();
      }
  
    // debugger;
    //minuits
      ctx.fillStyle = 'white';
      for (let index = 0; index < 60; index++) {
          if (index >= minutesto) {
            continue
          }
          let angle = (index * 6) * (Math.PI / 180);
          ctx.beginPath();
          ctx.arc(Math.sin(angle)*160+centre[0], Math.cos(angle)*160+centre[1], 3, 0, 2 * Math.PI);
          ctx.fill();
          ctx.stroke();
      }
  
    // debugger;
    //hours
      ctx.fillStyle = '#23232e';
      for (let index = 0; index < 24; index++) {
          if (index >= hoursto) {
            continue
          }
          let angle = (index * (360/24)) * (Math.PI / 180);
          ctx.beginPath();
          ctx.arc(Math.sin(angle)*210+centre[0], Math.cos(angle)*210+centre[1], 5, 0, 2 * Math.PI);
          ctx.fill();
          ctx.stroke();
      }
  
    // debugger;
    //days
      ctx.fillStyle = 'white';
      if (['jan', 'mar', 'may', 'jul', 'aug', 'oct', 'dec'].includes(month)) {
        amt = 31;
        θ = 360/31;
      } else if (['apr', 'jun', 'sep', 'nov'].includes(month)) {
        amt = 30;
        θ = 360/30;
      } else if (month == 'feb') {
        amt = 28;
        θ = 360/28;
      }
      
      for (let index = 0; index < amt; index++) {
          if (index >= daysto) {
            continue
          }
          let angle = (index * θ) * (Math.PI / 180);
          ctx.beginPath();
          ctx.arc(Math.sin(angle)*260+centre[0], Math.cos(angle)*260+centre[1], 10, 0, 2 * Math.PI);
          ctx.fill();
          ctx.stroke();
      }
  
  }
</script>
{% endblock %}