{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block Body %}
<main>
	<form action="/setcookie" method="POST">
		<p>
		<h3 class="text">Enter Username & Password</h3>
		</p>
		<p class="text"><input class="input" placeholder="Username" type='text' name='usrnm' required /></p>
		<p class="text"><input placeholder="Password" type='password' name="loginpass" required /></p>
		<p class="text"><input class="button" type='submit' value='Login' required /></p>
		<button onclick="window.location.href='/signup'">Signup</button>
	</form>
</main>
{% endblock %}