{% extends "base.html" %} {% block title %} Metaballs {% endblock %} {% block Body %}
<!-- jinja head stuff /\-->
<br> 
<h1>MetaBalls</h1>
<small>Not Meatballs!</small>
<br>
<div id="metaballCanvasDiv">
  <!--canvas-->
  <canvas height="1000" width="1000" style="background:#f2f2f2" id="metaballCanvas"></canvas>
  <!--end of canvas-->
  <!--filters to mak it work-->
  <style>
    #metaballCanvas{
      filter: blur(10px) contrast(1000%);
    }
    #metaballCanvasDiv {
      overflow: hidden;
    }
  </style>
  <script type="text/javascript">
    function getRndInteger(min, max) {
    return Math.floor(Math.random() * (max - min + 1) ) + min;
    }
    const ballPositions = [
      [0, 0],
      [0, 0],
      [0, 0],
      [0, 0], 
      [0, 0],
      [0, 0], 
      [0, 0], 
      [0, 0],
      [0, 0], 
      [0, 0], 
      [0, 0], 
      [0, 0]
    ]
    for (i in ballPositions) {
      ballPositions[i][0] = getRndInteger(0, 1000)
      ballPositions[i][1] = getRndInteger(0, 1000)
    }
    window.onload = startup;

    var ballX = 400;
    var ballY = 400;
    var mouseX = 0;
    var mouseY = 0;

    function startup() {
      //`mousemove`, not `mouseover`
      document.getElementById("metaballCanvas").onmousemove = mouseMove;
      
      loop();
    }

    //use `requestAnimationFrame` for the game loop
    //so you stay sync with the browsers rendering
    //makes it a smoother animation
    function loop(){
      moveBall();
      requestAnimationFrame(loop);
    }

    function mouseMove(evt) {
      mouseX = evt.clientX;
      mouseY = evt.clientY;
    }

    function moveBall() {
      //get the distance between the mouse and the ball on both axes
      //walk only the an eight of the distance to create a smooth fadeout
      var dx = (mouseX - ballX) * .125;
      var dy = (mouseY - ballY) * .125;
      //calculate the distance this would move ...
      var distance = Math.sqrt(dx*dx + dy*dy);
      //... and cap it at 5px
      if(distance > 1000){
        dx *= 1000/distance;
        dy *= 1000/distance;
      }
      
      //now move
      ballX += dx;
      ballY += dy - 7;
      
      var canvas = document.getElementById("metaballCanvas");
      var ctx = canvas.getContext("2d");

      ctx.clearRect(0, 0, canvas.width, canvas.height);

      for (x in ballPositions) {
        ctx.beginPath();
        ctx.arc(ballPositions[x][0], ballPositions[x][1], 100, 0, 2 * Math.PI);
        ctx.fillStyle = "black";
        ctx.fill()
        ctx.lineWidth = 0;
        ctx.strokeStyle = "black";
        ctx.stroke();
      }

      ctx.beginPath();
      ctx.arc(ballX, ballY, 75, 0, 2 * Math.PI);
      ctx.fillStyle = "black";
      ctx.fill();
      ctx.lineWidth = 5;
      ctx.strokeStyle = "black";
      ctx.stroke();
      
    }

  </script>
</div>
<br>
<p>
  These are metaballs, which are basically little circles (or spheres in 3d!) that stick to each other.
  <br>
  If you have ever used alglodoo fluids then thats what they are.
  <br>
  <a href="https://en.wikipedia.org/wiki/Metaballs">Wikipedia Link.</a> 
  <br>
  <small> Finished 14/12/21</small>
  P.S two things appear to break this, scrolling while over canvas and touchscreen devices.
</p>
{% endblock %}