{%extends 'base.html'%}
{% block title %} Signup {% endblock %}
{% block Body %}
<form action = "/signup" method = "POST">
	<p><h3 class="text">Enter Username & Password</h3></p>
	<p class="text"><input class="input" placeholder="Username" type = 'text' name = 'newUN' required/></p>
	<p class="text"><input placeholder="Password" type = 'password' name = "signuppass" required/></p>
	<p class="text"><input placeholder="Re-enter Password" type="password" name="repass" required></p>	
	<p class="text"><input class="button" type = 'submit' value = 'signup' onclick='window.loction.href = "/"'/></p>
</form>
{% endblock %}
