{% extends "base.html" %}{% block title %} What {% endblock %}{% block Body %}
<h1>What?</h1>
<p>
  You may be wondering, What the beep is this bad graphics mess of a website, Well sit down, shut up, listen and I'll tell you.
</p>
<p>To put it simply, this website is a record of stuff ive done (with dates wooo) for examle the meaballs page, that was using HTML canvas, JS canvas stuff and minor amounts of css to make the balls stick.</p>
<p>I should say that all dates and measurments are in DD/MM/YY or DD/MM/YYYY and metres because metric good and imperial bad(why does imperial even exist, NASA which is an american group uses metric(mainly b/c a couple million was wasted because designs were in metric, builders used imperial but its fine its not rocket science, oh wait its fu*cking rocket science(gingerpale good))) why so many brackets</p>
{% endblock %}